.main-contet{
margin: 5px;
display: flex;
flex-direction: row;
gap: 0.5rem;

}
.left-content{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 10px;
  padding: 40px;
 
  width: 20%;
  text-align: center;
  display: flex;
  background-color: #063848 ;
  
}
.right-content{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
 
  padding: 40px;
  width: 80%;
  text-align: center;
  background-color: #a1a8ad ;
}
.nav1 .navbar{
  border: 1px solid black;
  margin: 0px 5px ;
  border-radius: 20px;
}
.navbar{
  border-radius: 20px;
}
.form{
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 50px 300px;
  border-radius: 20px;
  background-image: linear-gradient(to bottom, #1c6174,#204f5d);
}

.details{
  padding: 140px 200px;
}

.button{
  margin-left: 50px;
  margin-top: 50px;
}
input{
  width: 250px;
  height: 40px;
  border-radius: 10px;
}
.card-container{
  border-radius: 20px;
  padding: 10px;
  text-align: start;
  
}
.title{
  font-family: 'Kalam', cursive;
  font-family: 'Saira Condensed', sans-serif;
  font-family: 'Titillium Web', sans-serif;
}
.des{
  font-family: 'Kalam', cursive;
  font-family: 'Saira Condensed', sans-serif;
  font-family: 'Titillium Web', sans-serif;
}
